<div class="card">
  <img src="{{card.coverURL}}"  (click)="moreDetails()" class="card-img-top img-thumbnail clickable" alt="..." />
  <div class="card-body">
    <h5 class="card-title clickable" (click)="moreDetails()">{{ card.name | uppercase }}</h5>
    <p class="card-text">
      {{ card.description }}
    </p>
    <a (click)="moreDetails()" class="btn btn-outline-info btn-sm">more...</a>
    <a (click)="viewShows()" class="btn btn-outline-primary btn-sm pull-right">view shows</a>
  </div>
</div>