<div class="card">
  <img src="https://place-hold.it/300x200" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Movie Title</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam.
    </p>
    <a href="#" class="btn btn-info btn-sm">more...</a>
    <a href="#" class="btn btn-outline-primary btn-sm pull-right">view shows</a>
  </div>
</div>