label {
    font-weight: 300;
}
.text-wrapper {
    width: 300px;
    border-bottom: 1px solid red;
    span {
        vertical-align: sub;
    }
}
.jumbotron {
    box-shadow: 0px 10px 25px -11px rgba(0,0,0,0.75);
    border-radius: 0;
}