/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

body {
    overflow-x: hidden;
}
.bg-dark {
    background-color: #000000!important;
}

.margin-1 {
    margin: 1px;
}

.margin-15 {
    margin: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.pull-right {
    float: right;
}

.clickable {
    cursor: pointer;;
}