/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
}
.bg-dark {
    background-color: #000000!important;
}

.margin-1 {
    margin: 1px;
}

.margin-15 {
    margin: 15px;
}

.pull-right {
    float: right;
}
